[submodule "third-party/Universal-LPC-Spritesheet-Character-Generator"]
	path = third-party/Universal-LPC-Spritesheet-Character-Generator
	url = https://github.com/JaimeJimenezG/Universal-LPC-Spritesheet-Character-Generator.git
